@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  height: 100%;
}

body {
  background-color: #ecc6cf;
  min-height: 100%;
}

#root {
  min-height: 100%;
}

:has(> div.container) {
  min-height: 100%;
}
