@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;

  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.advice-bubble {
  position: relative;
}

.advice-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #008774;
  border-bottom: 0;
  margin-left: -5px;
  margin-bottom: -5px;
}

.speech-bubble {
  /* tail dimension */
  --b: 1.5em; /* base */
  --h: 0.7em; /* height */
  --t: 0.6; /* thickness (from 0 to 1) */

  --p: 50%; /* main position (0%:top 100%:bottom) */
  --r: 2.75em; /* the radius */

  position: relative;
}

.speech-bubble:before {
  content: "";
  position: absolute;
  top: clamp(
    -1 *
    var(--t) *
    var(--b),
    var(--p) -
    (var(--t) + 1) *
    var(--b) /
    2,
    100% -
    var(--b)
  );
  width: var(--h);
  height: var(--b);
}

.speech-bubble.right:before {
  --p: 40%; /* main position (0%:top 100%:bottom) */
  left: 97%;
  background: inherit;
  border-bottom-right-radius: 100%;
  mask: radial-gradient(105% calc(var(--t) * 100%) at 0 0, #0000 99%, #000 101%);
  -webkit-mask: radial-gradient(
    105% calc(var(--t) * 100%) at 0 0,
    #0000 99%,
    #000 101%
  );
}

.speech-bubble.left:before {
  content: "";
  position: absolute;
  right: 99.3%;
  background: inherit;
  border-bottom-left-radius: 100%;
  mask: radial-gradient(
    105% calc(var(--t) * 100%) at 100% 0,
    #0000 99%,
    #000 101%
  );
  -webkit-mask: radial-gradient(
    105% calc(var(--t) * 100%) at 100% 0,
    #0000 99%,
    #000 101%
  );
}

/* HTML: <div class="tooltip">This is the same as #7 but with another shape for the tail </div> */
.tooltip {
  color: #fff;
  font-size: 18px;
  max-width: 28ch;
  text-align: center;
}
.tooltip {
  /* tail dimension */
  --b: 3em; /* base */
  --h: 1.8em; /* height */
  --t: 0.6; /* thickness (from 0 to 1) */

  --p: 50%; /* main position (0%:top 100%:bottom) */
  --r: 1.2em; /* the radius */

  padding: 1em;
  border-radius: var(--r) /
    min(var(--r), var(--p) - (1 - var(--t)) * var(--b) / 2) var(--r) var(--r)
    min(var(--r), 100% - var(--p) - (1 - var(--t)) * var(--b) / 2);
  background: #eb6841; /* the main color */
  position: relative;
}
